{% extends "admin/base_site.html" %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
<p>
    You are going to add a reference to a publication record for the records with the following source definitions.
    Make sure that all records are indeed from the same publication (author and year).
</p>
<h2>Sources of the selected records</h2>
<ul>
  {% for record in records %}
    <li>
      {{ record.source }}
    </li>
    <input type="hidden" name="_selected_action" value="{{ record.pk }}" />
  {% endfor %}
</ul>
<h2>Choose the identifier</h2>
<p>
    What is the identifier of the publication? The identifier is the beginning part that all sources have in common.
    Typically this is the author's name and the year of publication, but without a specific location (page number or
    otherwise) within the publication, such as "Berger 2005".
</p>

<p>
    If you choose an identifier for which a publication record does not yet exist, it will be created. Otherwise, the
    exiting publication record will be reused.
</p>
  {{ form.as_p }}
  <input type="hidden" name="action" value="add_publication_record" />
  <input type="submit" name="apply" value="Proceed"/>
</form>
{% endblock %}